body
{
    background-color: gray;
}

wobbling-segment:nth-child(1)
{
    border: 2px solid green;
    width: 50%;
    height: 200px;
    stroke: aquamarine;
}
wobbling-segment:nth-child(2)
{
    stroke: green;
}
wobbling-segment:nth-child(3)
{
    stroke: red;
}
wobbling-segment:nth-child(4)
{
    stroke: yellow;
}
